@import url('../../../node_modules/bootstrap/dist/css/bootstrap.css');

:root {
  --primary-color: #25be76;
  --secondary-color: #47cf73;
  --font-color: #707070;
  --bg-color: #fff;
  --heading-color: #060606;
  --footer-color: #f7f7f7;
  --footer-cpy-color: #040a17;
  --border-radius: 8px;
  --border-radius-full: 15px;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f9f9f9;
  --bg-light: #fbfbfb;
  --bg-dark-color: #fff;
  --disable-color: #d8d6d6;
  --box-shadow-color: rgb(0 0 0 / 10%);
  --heading-color-2: #fff;
  --search-shadow: rgb(0 0 0 / 5%);
  --box-shadow-blog: rgb(0 0 0 / 7%);
  --bg-layer-color: rgb(0 0 0 / 0%);
  --bg-layer-color-2: rgb(0 0 0 / 44%);
  --box-shadow-map: rgb(0 0 0 / 6%);
  --box-shadow-color-2: rgb(0 0 0 / 8%);
  --box-shadow-color-3: rgb(0 0 0 / 41%);

}

a{
  text-decoration: none;
}


/* blog section */
.w3l-text-11 .text11-content a.next {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin-top: 30px;
    color: #232527;
  }
  
  .blog-info img {
    border-radius: 8px 8px 0 0;
  }
  
  .w3l-text-11 .text11-content a.prev {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin-top: 30px;
    color: #232527;
  }
  
  .prev-next {
    display: flex;
    justify-content: space-between;
  }
  
  nav.post-navigation {
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
    margin-top: 40px;
  }
  
  .w3l-text-11 .text11-content ul.blog-list {
    padding-left: 15px;
  }
  
  .w3l-text-11 .text11-content a.category {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--font-color);
    padding-left: 10px;
  }
  
  .w3l-text-11 .text11-content .media-grid p {
    margin: 0px;
  }
  
  .w3l-text-11 .media a,
  .w3l-text-11 .media .media-body {
    float: left;
  }
  
  .media-grid.even-grid {
    margin-left: 135px;
  }
  
  .w3l-text-11 .comments .media-grid {
    margin-bottom: 20px;
  }
  
  .w3l-text-11 .media-body.comments-grid-right {
    padding-left: 15px;
  }
  
  .new-posts {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 40px;
  }
  
  .new-posts a {
    display: grid;
    margin: 20px 0;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    color: var(--heading-color);
    font-weight: 600;
    align-items: center;
  }
  
  .new-posts a span.fa {
    font-size: 13px;
  }
  
  .new-posts a:hover {
    color: var(--primary-color);
  }
  
  .w3l-text-11 h3.aside-title {
    font-size: 24px;
    line-height: 32px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  
  .w3l-text-11 .card {
    border: none;
  }
  
  .w3l-text-11 .history-info {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .w3l-text-11 .comments h5,
  a.title-team-28 {
    font-size: 22px;
    line-height: 32px;
    color: var(--heading-color);
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
    display: block;
  }
  
  blockquote.quote {
    border-left: 3px solid var(--primary-color);
  }
  
  footer.blockquote-footer {
    color: var(--primary-color);
    font-size: 16px;
  }
  
  blockquote.quote q {
    font-size: 15px;
    line-height: 26px;
  }
  
  .w3l-text-11 .author-cardview,
  blockquote.quote {
    padding: 30px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
  }
  
  .w3l-text-11 .author-right .social li a {
    font-size: 16px;
    color: var(--heading-color);
    margin-right: 20px;
  }
  
  .w3l-text-11 .author-right .social li a:hover {
    color: var(--primary-color);
  }
  
  .w3l-text-11 .comments-grid-right ul li {
    display: inline-block;
    color: #888;
    font-size: 16px;
    vertical-align: middle;
  }
  
  .w3l-text-11 .comments-grid-right ul li a {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 15px;
  }
  
  .w3l-text-11 .text11-content h4.heading-no-margin {
    margin: 0;
  }
  
  .w3l-text-11 .text11-content .social {
    align-self: center;
  }
  
  .w3l-text-11 img.margin-top {
    margin-top: 30px;
  }
  
  .w3l-text-11 .text11-content .social li p {
    font-size: 22px;
    color: var(--heading-color);
    font-weight: 600;
  }
  
  .w3l-text-11 .social-share-blog {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
  }
  
  .text-list ol li {
    font-size: 1.2em;
    line-height: 28px;
    margin: 10px 0;
    color: var(--font-color);
    list-style-type: disc;
    font-weight: 400;
  }
  
  ul.comment {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .w3l-text-11 .leave-comment-form input,
  .w3l-text-11 .leave-comment-form textarea {
    outline: none;
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 28px;
    color: var(--heading-color);
    width: 100%;
    height: inherit;
    background-color: var(--bg-light);
    border: 1px solid var(--border-color-light);
    border-radius: 8px;
    box-shadow: none;
  }
  
  .w3l-text-11 .leave-comment-form input:focus,
  .w3l-text-11 .leave-comment-form textarea:focus {
    border: 1px solid var(--primary-color);
  }
  
  .w3l-text-11 .comments {
    margin: 60px 0;
  }
  
  .w3l-text-11 textarea.form-control {
    height: 150px;
    font-family: inherit;
    resize: none;
  }
  
  .w3l-text-11 .features-2 .feature-main {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  
  .w3l-text-11 .media {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid var(--border-color-light);
    padding: 30px 20px;
    border-radius: 8px;
  }
  
  .w3l-text-11 .media-2 {
    border-top: 1px solid var(--border-color-light) !important;
  }
  
  .w3l-text-11 .media a.comment-img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .w3l-text-11 .feature-main .img1 {
    padding: 20px 10px;
    border: 1px solid rgba(130, 152, 171, 0.2);
  }
  
  .w3l-text-11 .feature-main .img1:hover {
    background: #fff;
  }
  
  .w3l-text-11 .feature-main .img1 img {
    width: 35px;
  }
  
  .w3l-text-11 .features-2 .img1 h4 {
    margin-top: 10px;
  }
  
  .w3l-text-11 .social li {
    display: inline-block;
  }
  
  .w3l-text-11 ul.social li a {
    display: inline-block;
    margin: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: var(--bg-light);
    text-align: center;
    margin-right: 6px;
    color: var(--heading-color);
    border-radius: 6px;
    font-size: 15px;
  }
  
  .w3l-text-11 ul.social li span.fa {
    text-align: center;
    line-height: 40px;
  }
  
  .w3l-text-11 ul.social li a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  a.blog-desc1 {
    font-size: 18px;
    color: var(--heading-color);
    line-height: 28px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  a.blog-desc1:hover,
  .author a:hover {
    color: var(--primary-color);
  }
  
  .author a {
    color: var(--font-color);
    font-size: 14px;
  }
  
  .w3l-text-11 .card.empty-post {
    background: var(--bg-light);
    padding: 30px;
    border-radius: 8px;
  }
  
  .w3l-text-11 .card-body span.fa {
    font-size: 30px;
    color: var(--primary-color);
  }
  
  .w3l-text-11 .page-numbers {
    font-size: 20px;
    margin: 0 5px;
    font-weight: 500;
  }
  
  .w3l-text-11 a.posts-view-left {
    display: grid;
    grid-template-columns: 23% 72%;
    grid-gap: 4%;
    align-items: center;
    margin-top: 10px;
  }
  
  .w3l-text-11 span.nav-title {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--heading-color);
  }
  
  .w3l-text-11 a.posts-view-right {
    display: grid;
    grid-template-columns: 72% 23%;
    grid-gap: 4%;
    align-items: center;
    margin-top: 10px;
  }
  
  .w3l-text-11 a.posts-view label {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--heading-color);
  }
  
  .w3l-text-11 a.posts-view label:hover {
    color: var(--primary-color);
  }
  
  .w3l-text-11 .single-left .admin-post a span {
    width: 20px;
    color: var(--heading-color);
  }
  
  .w3l-text-11 .single-left .admin-post a:hover {
    color: var(--primary-color);
  }
  
  .ads-img-ab img {
    border-radius: var(--border-radius);
  }
  
  @media (max-width: 992px) {
    .w3l-text-11 .text11-content h5.quote {
      margin: 40px 0;
    }
  
    .w3l-text-11 a.posts-view-left,
    .w3l-text-11 a.posts-view-right {
      grid-template-columns: 100%;
      grid-gap: 0%;
    }
  
    .sidebar-side {
      order: 2;
    }
  }
  
  @media (max-width:667px) {
    .w3l-text-11 .text11-content .social li p {
      font-size: 17px;
    }
  }
  
  @media (max-width: 568px) {
  
    .w3l-text-11 .text11-content a.next,
    .w3l-text-11 .text11-content a.prev {
      font-size: 35px;
      line-height: 40px;
      margin-top: 10px;
    }
  
    .w3l-text-11 a.posts-view label {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .w3l-text-11 .text11-content p {
      margin-top: 15px;
    }
  
    .w3l-text-11 .text11-content h5.quote {
      font-size: 24px;
      line-height: 32px;
    }
  
    .w3l-text-11 .text11-content a.category {
      font-size: 15px;
      padding-left: 15px;
    }
  
    .w3l-text-11 .comments {
      margin: 30px 0;
    }
  
    .w3l-text-11 .text11-content a.next,
    .w3l-text-11 .text11-content a.prev {
      font-size: 30px;
      line-height: 35px;
    }
  
    .media-grid.even-grid {
      margin-left: 0px;
    }
  
    .w3l-text-11 .media-body.comments-grid-right {
      padding-left: 5px;
    }
  
    .w3l-text-11 .pagination li {
      margin: 0 2px;
    }
  
    .w3l-text-11 .comments-grid-right ul li {
      font-size: 13px;
      vertical-align: middle;
    }
  }
  
  @media (max-width:440px) {
    .w3l-text-11 .social-share-blog {
      grid-auto-flow: row;
      grid-gap: 15px;
    }
  
    .w3l-text-11 .text11-content .social {
      text-align: left;
    }
  
    .w3l-text-11 h3.aside-title {
      font-size: 22px;
      line-height: 32px;
    }
  
    ul.comment,
    .w3l-text-11 .media {
      grid-auto-flow: row;
      grid-gap: 10px;
    }
  
    .w3l-text-11 ul.social li {
      margin-right: 0px;
    }
  
    .column3 a {
      font-size: 16px;
    }
  }
  
  @media (max-width:400px) {
    .w3l-text-11 .text11-content h5.quote {
      font-size: 16px;
      line-height: 26px;
    }
  }
  
  /* Search Box Widget */
  .sidebar-title h4 {
    font-size: 20px;
    line-height: 30px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
  }
  
  .sidebar-title h4:before {
    width: 10%;
    height: 2px;
    background: var(--primary-color);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
  }
  
  .sidebar-widget {
    margin-bottom: 40px;
    padding-left: 20px;
  }
  
  .sidebar .search-box .form-group {
    position: relative;
    margin: 0px;
  }
  
  .sidebar .search-box .form-group input[type="text"],
  .sidebar .search-box .form-group input[type="search"] {
    position: relative;
    line-height: 28px;
    padding: 10px 50px 10px 20px;
    border: 1px solid var(--border-color);
    background: none;
    display: block;
    font-size: 19px;
    width: 100%;
    height: 55px;
    color: var(--font-color);
    border-radius: 8px;
    outline: none;
  }
  
  .sidebar .search-box .form-group input[type="text"]:focus,
  .sidebar .search-box .form-group input[type="search"]:focus {
    border: 1px solid var(--font-color);
  }
  
  .sidebar .search-box .form-group button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 50px;
    font-size: 16px;
    color: var(--heading-color);
    line-height: 100%;
    border: none;
    background: none;
    display: inline-block;
    font-weight: normal;
    text-align: center;
  }
  
  /* Blog Category */
  .blog-cat {
    position: relative;
    padding: 0;
  }
  
  .blog-cat li {
    position: relative;
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color-light);
  }
  
  .blog-cat li a {
    position: relative;
    color: var(--heading-color);
    font-size: 15px;
    display: block;
    line-height: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .3s ease;
  }
  
  .blog-cat li a label {
    font-size: 14px;
    margin-left: auto;
    width: 27px;
    height: 27px;
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: #fff;
    margin-bottom: 0;
  }
  
  ul.blog-cat li a span.fa {
    color: var(--primary-color);
    font-size: inherit;
    background: none;
    /* font-size: 16px; */
    margin-right: 8px;
  }
  
  .sidebar-widget figure {
    margin: 0 0 0rem;
  }
  
  .sidebar-widget .search-form {
    display: flex;
    position: relative;
  }
  
  .sidebar-widget .search-form input {
    padding: 15px 60px 15px 20px;
    font-size: 17px;
    line-height: 26px;
    border: 1px solid var(--bg-border);
    background-color: var(--bg-white);
    outline: none;
    width: 100%;
    color: var(--font-color);
    border-radius: 8px;
  }
  
  .sidebar-widget .search-form button {
    text-align: center;
    background: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0px;
    right: 16px;
    top: 13px;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    line-height: 5px;
  }
  
  .blog-cat li.active a,
  .blog-cat li a:hover {
    color: var(--primary-color);
  }
  
  /* Post Widget */
  .popular-posts .post {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-widget:last-child {
    margin-bottom: 0px;
  }
  
  .popular-posts .post img {
    display: block;
    width: 100%;
    border-radius: 4px;
    width: 85px;
    height: 85px;
    margin-right: 15px;
  }
  
  .popular-posts .post .text a {
    font-size: 15px;
    font-weight: 500;
    color: var(--heading-color);
    line-height: 25px;
  }
  
  
  .popular-posts .post a:hover,
  ul.twitter-feed a:hover {
    color: var(--primary-color);
  }
  
  .popular-posts .post-info {
    font-size: 14px;
    color: var(--font-color);
    font-weight: 400;
    margin-top: 4px;
  }
  
  /*Instagram Widget*/
  .sidebar .instagram-widget .images-outer {
    position: relative;
    margin: 0px -4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .sidebar .instagram-widget .image-box1 {
    position: relative;
    float: left;
    width: 33.3333%;
    padding: 0px 6px;
    margin-bottom: 12px;
  }
  
  .sidebar .instagram-widget .image-box:nth-child(3),
  .sidebar .instagram-widget .image-box:nth-child(6) {
    margin-right: 0px;
  }
  
  .sidebar .instagram-widget .image-box1 .overlay-box {
    position: absolute;
    content: '';
    left: 14px;
    top: 10px;
    bottom: 10px;
    right: 14px;
    display: block;
    z-index: 1;
    opacity: 0;
    text-align: center;
    padding: 8px;
    color: #ffffff;
    font-size: 24px;
    line-height: 44px;
    transition: all 300ms ease;
    background-color: #49c0b6;
    border-radius: 8px;
  }
  
  .sidebar .instagram-widget .image-box .overlay-box:before {
    position: absolute;
    top: 50%;
    margin-left: -12px;
    margin-top: -22px;
    display: inline-block;
  }
  
  .sidebar .instagram-widget .image-box:hover .overlay-box {
    opacity: 1;
  }
  
  .sidebar .instagram-widget .image-box img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: all 300ms ease;
  }
  
  /*Tags*/
  .sidebar .popular-tags a {
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding: 6px 24px 6px;
    margin: 0px 4px 8px 0px;
    color: var(--font-color);
    text-align: center;
    font-size: 16px;
    background-color: var(--bg-light);
    border-radius: 4px;
    font-weight: 600;
  }
  
  .sidebar .popular-tags a:hover {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .sidebar-widget.social-style a {
    display: block;
    background: var(--bg-light);
    padding: 10px 20px;
    margin-bottom: 12px;
    font-size: 15px;
    border-radius: 4px;
  }
  
  .sidebar-widget.social-style a:hover {
    background: var(--heading-color);
    color: var(--bg-color);
  }
  
  .sidebar-widget.social-style a i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
  }
  
  .subscribe-widget .widget-content {
    position: relative;
    padding: 32px 25px;
    background-color: var(--widget-bg);
    border-radius: 8px;
  }
  
  .subscribe-widget h5 {
    position: relative;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3em;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  
  /* Subscribe Form Three */
  .subscribe-form-three {
    position: relative;
  }
  
  .subscribe-form-three .form-group {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    z-index: 1;
  }
  
  .subscribe-form-three .form-group input,
  .subscribe-form-three .form-group select,
  .subscribe-form-three .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.2em;
    line-height: 30px;
    color: var(--font-color);
    padding: 12px 25px;
    overflow: hidden;
    border-radius: 8px;
    transition: all 300ms ease;
    background-color: var(--bg-color);
    border: none;
    outline: none;
  }
  
  .subscribe-form-three .form-group input:focus,
  .subscribe-form-three .form-group select:focus,
  .subscribe-form-three .form-group textarea:focus {
    border-color: #49c0b6;
  }
  
  .img-about-w3 img {
    border-radius: 50%;
  }
  
  .right-ab-block h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  @media (max-width: 992px) {
    .sidebar-widget {
      padding-left: 0px;
    }
  
    .w3l-text-11 .author-cardview {
      padding: 20px 20px;
    }
  }
  
  @media (max-width: 736px) {
    .sidebar-widget {
      margin-bottom: 50px;
    }
  }
  
  /* //blog section */