ol li{
    list-style:decimal;
    font-size: 20px;
    font-weight: 500;
}
.negrita{
    font-weight: 700;
}

.cajaDetalles{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 75% 25%;
}
.imagenDetalles{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    height: 20%;
}
.textoCentrado{
    text-align: center;
}