html{
    height: 100%;
    width: 100%;
}
:root{
    --color-letra: rgb(207, 203, 203); /*Hexadecimal #CFCBCB*/
}


#fondo{
    height: 62vh;
    background: url('../../images/inicioPC.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

#fondo h1{
    margin-top: 15px;
    text-align: center;
    color:var(--color-letra);
}

#fondo p{
    font-size: 24px;
    color: var(--color-letra);
    display: block;
    width: 900px;
    text-align: center;
}
#fondo a{
    font-size: 18px;
    color: var(--color-letra);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    background: rgb(24, 135, 84);
}

@media (max-width: 1050px){
    #fondo{
        height: 45vh;
    }
}
@media (max-width: 870px){
    #fondo p{
        width: 750px;
    }
}
@media (max-width: 750px){
    #fondo p{
        width: 600px;
    }
}
@media (max-width: 620px){
    #fondo p{
        width: 500px;
    }
}


@media (max-width: 550px){
    #fondo h1{
        font-size: 25px;
    }
    #fondo p{
        font-size: 16px;
        width: 400px;
    }
}