.ingrediente{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

input.peso{
    width: 80px;
}
.imagenIngrediente{
    width: 90px;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}