.fondoLogin{
    background-color: #034D37;
}

.cajaVer{
    position: relative;
}
.btnVer{
    position: absolute;
    top: 42px;
    right: 15px;
    font-size: 20px;
}
.btnVer:hover{
    cursor: pointer;
}
.iconos:hover{
    cursor: pointer;
}
.contenedor{
    width: 450px;
}
.or{
    width: 100%;
    color:#c2c2c2;
    font-size: 14px;
    user-select: none;
    margin: 0;
}
.tituloLogin{
    text-align: center;
}